<link rel="stylesheet" href="{{ 'section-b2b-perks.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-b2b-perks.css' | asset_url | stylesheet_tag }}</noscript>

<div class="container">
    {%- if section.blocks.size > 0 -%}
        <div class="b2b-perks">
            {%- for block in section.blocks -%}
                <div class="b2b-perks__item">
                    {%- if block.settings.icon != blank -%}
                        <div class="b2b-perks__icon-hld">
                            <img 
                                src="{{ block.settings.icon | img_url: 'master' }}" 
                                width="48"
                                height="48"
                                alt="{{ block.settings.icon.alt }}"
                                loading="lazy">
                        </div>
                    {%- endif -%}
                    <span class="b2b-perks__title w-medium">{{ block.settings.title }}</span>
                    <p class="b2b-perks__text gray">{{ block.settings.text }}</p>
                </div>
            {%- endfor -%}
        </div>
    {%- endif -%}
</div>

{% schema %}
{
    "name": "B2B Perks",
    "tag": "section",
    "class": "section section--b2b-perks margin",
    "settings": [],
    "blocks": [
        {
            "type": "item",
            "name": "Item",
            "limit": 3,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "icon",
                    "label": "Icon"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "B2B Perks"
        }
    ]
}
{% endschema %}