<div class="container">
    <div class="customer customer--reset-password">
        <h1 class="customer__heading customer__heading--recover f-48">{{ 'customer.reset_password.title' | t }}</h1>
        <p class="customer-form__p">
            {{ 'customer.reset_password.subtext' | t }}
        </p>
        <form-validate>
            {%- form 'reset_customer_password', class: 'customer-form customer-form--reset-password' -%}
                {%- if form.errors contains 'password_confirmation' -%}
                    <div class="form-errors">
                        <p>{{ form.errors.messages.password_confirmation }}</p>
                    </div>
                {%- endif -%}

                <div class="field-row">
                    <div class="field field--1-1">
                        <input
                            type="password"
                            name="customer[password]"
                            id="password"
                            autocomplete="new-password"
                            {% if form.errors contains 'password' %}
                            aria-invalid="true"
                            aria-describedby="password-error"
                            {% endif %}
                            placeholder="{{ 'customer.reset_password.password' | t }}"
                            aria-required="true"
                            required
                        >
                        <label for="password">
                            <span>{{ 'customer.reset_password.password' | t }}</span>
                        </label>
                        <button 
                            type="button"
                            class="button-show-password"
                            data-show-password
                            aria-expanded="false">
                                {%- render 'svg-icon', name: 'eye' -%}
                        </button>
                        {%- if form.errors contains 'password' -%}
                            <small id="password-error" class="label-error">
                                {{ form.errors.translated_fields.password | capitalize }}
                                {{ form.errors.messages.password }}
                            </small>
                        {%- endif -%}
                    </div>
                </div>

                <div class="field-row field-row--small">
                    <div class="field field--1-1 field--password-info">
                        <p>{{ 'customer.password_info_html' | t }}</p>
                    </div>
                </div>

                <div class="field-row">
                    <div class="field field--1-1">
                        <input
                            type="password"
                            name="customer[password_confirmation]"
                            id="password_confirmation"
                            autocomplete="new-password"
                            {% if form.errors contains 'password_confirmation' %}
                            aria-invalid="true"
                            aria-describedby="password_confirmation-error"
                            {% endif %}
                            placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
                            data-match-error-message="{{ 'customer.register.password_confirmation_error' | t }}"
                            aria-required="true"
                            required
                        >
                        <label for="password_confirmation">
                            <span>{{ 'customer.reset_password.password_confirm' | t }}</span>
                        </label>
                        <button 
                            type="button"
                            class="button-show-password"
                            data-show-password
                            aria-expanded="false">
                                {%- render 'svg-icon', name: 'eye' -%}
                        </button>
                    </div>
                </div>

                <div class="customer-form__submit-hld">
                    <button class="button button--xlarge" type="submit">{{ 'customer.reset_password.submit' | t }}</button>
                </div>
            {%- endform -%}
        </form-validate>
    </div>
</div>

{% schema %}
{
    "name": "Main Reset Password",
    "tag": "section",
    "class": "section section--reset-password",
    "settings": []
}
{% endschema %}
